<% content_for :title, "Sandbox" %>
<h4>Sandbox</h4>
<p>This page is for testing out new ideas and code snippets. It is not meant to be a polished or final product. Feel free to experiment and break things!</p>

<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
  <div class="container-fluid">
    <!-- Brand -->
    <a class="navbar-brand" href="#">Brand</a>

    <!-- Toggler -->
    <button class="navbar-toggler" type="button"
            data-bs-toggle="collapse" data-bs-target="#mainNav"
            aria-controls="mainNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="mainNav">

      <!-- FIRST ROW: left nav -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
      </ul>

      <!-- FIRST ROW: right dropdown -->
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#"
             id="userDropdown" role="button"
             data-bs-toggle="dropdown" aria-expanded="false">
            User
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
            <li><a class="dropdown-item" href="#">View Details</a></li>
            <li><a class="dropdown-item" href="#">Edit</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Logout</a></li>
          </ul>
        </li>
      </ul>

      <!-- SECOND ROW: full-width justified links -->
      <ul class="navbar-nav w-100 flex-lg-row justify-content-lg-between border-top pt-2 mt-2">
        <li class="nav-item flex-lg-fill text-lg-center">
          <a class="nav-link" href="#">Reports</a>
        </li>
        <li class="nav-item flex-lg-fill text-lg-center">
          <a class="nav-link" href="#">Account</a>
        </li>
        <li class="nav-item flex-lg-fill text-lg-center">
          <a class="nav-link" href="#">Messages</a>
        </li>
        <li class="nav-item flex-lg-fill text-lg-center">
          <a class="nav-link" href="#">Contact</a>
        </li>
        <li class="nav-item flex-lg-fill text-lg-center">
          <a class="nav-link" href="#">Request Quote</a>
        </li>
      </ul>

    </div>
  </div>
</nav>
