Navbar Example

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">

    <div class="collapse navbar-collapse col-lg-6 col-md-6">
      <ul class="nav navbar-nav  navbar-left">
        <li><a href="">Home</a></li>
      </ul>
    </div>

    <div class="collapse navbar-collapse navbar-right col-lg-6 col-md-6">
      <div class="dropdown">
        <button id="userMenu" class="btn dropdown-toggle btn-primary" type="button" data-toggle="dropdown">
          <span>User</span> <span class="caret userButton"></span>
        </button>

        <ul class="dropdown-menu" role="menu" aria-labelledby="userMenu">
          <li role="presentation"><a href="#" tabindex="-1" role="menuitem">View Details</a></li>
          <li role="presentation"><a href="#" tabindex="-1" role="menuitem">Edit</a></li>
          <li role="presentation" class="divider"></li>
          <li role="presentation"><a href="#" tabindex="-1" role="menuitem">Logout</a></li>
        </ul>
      </div>
    </div>

    <div class="navbar-header">
      <button class="navbar-toggle" data-toggle="collapse" data-target="#mainNav">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <div class="collapse navbar-collapse" id="mainNav">
        <ul id="navlist" class="nav nav-justified">
          <li><a href="#">Reports</a></li>
          <li><a href="#">Account</a></li>
          <li><a href="#">Messages</a></li>
          <li><a href="#">Contact</a></li>
          <li><a href="#">Request Quote</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>
