<h2>Stories tagged with <%= params[:id] %></h2>
<% @stories.each do |story| %>
  <%= render partial: "stories/story", locals: { story: story } %>
<% end %>
<%= link_to "Back to stories", stories_path %>
